{{> head }}
  {{> navbar }}

  <div class="row">
    <div class="col-8">
      <h1>HOLA, SOY PETER PARKER</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, veniam minus. Soluta quod amet sint odio officiis consequatur quia ex libero enim sed voluptatum provident neque, error, debitis doloribus in!
      </p>
    </div>

    <div class="col-4">
      <img src="assets/img/spidy.png" class="img-thumbnail">
    </div>
  </div>

{{> footer }}